<div class="pos-f-t">
  <div id="navbarToggleExternalContent">
    <div class="bg-dark p-4 d-flex align-items-center justify-content-between">
      <ul class="nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin">admin Dashboard</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/donor">donor Dashboard</a>
        </li>
        
      </ul>

      <div class="ms-auto" routerLinkActive="active">
        <button class="btn btn-outline-primary" type="button" routerLink="/login">Login</button>
        <button class="btn btn-outline-danger" type="button">Logout</button>
      </div>
      
    </div>
  </div>
</div>
