<div class="pos-f-t">
    <div  id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <ul class="nav justify-content-center">
          <li class="nav-item" >
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="aboutMe">About me</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" routerLink="projects">Projects</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="skills">Skills</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="certifications">Certifications</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="contactMe">Contact me</a>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
  
 